# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environment
venv/
.env/
.envrc

# Logs and databases
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.iml

# Python package dependencies
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
